*{
    margin: 0;
}
nav{
    height: 5vh;
    background: #D9D9D9;
}
main{
    height: 85vh;
    display: flex;
}
section{
    height: 100%;
    width: 28vw;
    background: #A4A4A4;
}
article{
    height: 100%;
    width: 30vw;
    background: #C1C1C1;
}
main div{
    width: 42vw;
    height: 100%;
}
aside{
    height: 50%;
    width: 100%;
}
.top-section{
    background: #7F7A7A;
}
.bottom-section{
    background: #6B6161;
}
footer{
    height: 10vh;
    background: #D9D9D9;
}
