*{
    margin: 15px;
    padding: 0;
}
body{
    background: #508050;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}
.card{
    width: 250px;
    height: 250px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #a8bfa8;
    transition: 1s;
}
.card h1{
    margin: 10px;
    font-size: 30px;
    align-self: flex-start;
}
.card p{
    align-self: flex-start;
    padding: 10px;
    line-height: 2;
    margin-top: 0px;
}
.card:hover{
    transform: scale(1.2);
    transition: 2s;
}
