*{
    margin: 0;
}
header, footer{
    height: 14vh;
    background: #D9D9D9;
}
main{
    display: flex;
}
aside{
    width: 42vw;
    height: 73vh;
    background: #C0BDBD;
}
main div{
    width: 58vw;
    height: 73vh;
}
.top{
    width: 100%;
    height: 50%;
    background: #827878;
}
.bottom{
    width: 100%;
    height: 50%;
    background: #B7ADAD;
}

