*{
    margin: 0;
}
header{
    height: 5vh;
    background: #D9D9D9;
}
main{
    height: 75vh;
    display: flex;
}
main section{
    width: 60vw;
    height: 100%;
    background: #A4A4A4;
}
.top-section{
    height: 40vh;
    width: 40vw;
    background: #7F7A7A;
}
.bottom-section{
    height: 35vh;
    width: 40vw;
    background: #615050;
}
footer{
    height: 20vh;
}
.top-footer{
    height: 9vh;
    background: #D9D9D9;
}
.bottom-footer{
    height: 11vh;
    background: #AFA9A9;
}
