@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
body{
    background-color: #fafafa;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.registration{
    width: 50vh;
    margin: 50px;
    padding: 30px;
    background: white;
    border: 1.2px solid #b1b1b1;
    text-align: center;
}
.logo{
    font-family: "Momo Signature", cursive;
    font-size: 36px;
    margin-bottom: 20px;
}
input[type=text],input[type=password]{
    width: 100%;
    padding: 5px;
    border: 1px solid #acabab;
    height: 30px;
    margin-block: 10px;
}
form input[type=submit]{
    background-color: #00a3ed;
    border-radius: 10px;
    border: 1px solid white;
    width: 100%;
    height: 45px;
}
.or{
    margin: 15px 0;
    color: #999;
    font-size: 12px;
}
.facebook{
    display: block;
    color: #074dda;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
}
.end{
    font-size: 12px;
    color: #074dda;
    text-decoration: none;
}
.the-end{
    width: 50vh;
    margin: 50px;
    padding: 30px;
    background: white;
    border: 1.2px solid #b1b1b1;
    text-align: center;
}
.registration,.the-end{
    width: 350px;
    margin: 5px;
}
